<div class="card">
  <div class="card-title">
    <h2>Medications:</h2>
  </div>

  <div class="card-body">
    <div *ngFor="let item of pageOfItems">
      <button mat-raised-button id="add-medication-button" (click)="openView(item)">{{item}}</button>
    </div>
  </div>

  <div class="card-footer">
    <jw-pagination [items]="items" (changePage)="onChangePage($event)"></jw-pagination>
  </div>
</div>

<button mat-raised-button id="add-medication-button" (click)="openModal()">Add medication</button>
<button mat-raised-button id="search-medication-button" (click)="openSearch()">Search medications</button>
